@font-face{font-family: 'AmiriCustom'; src: url('/assets/fonts/amiri-regular.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face{font-family: 'NotoNastaliq'; src: url('/assets/fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype');}

.font-arabic{ font-family: 'AmiriCustom', 'NotoNastaliq', serif; }
